<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Books/Authors</title>
</head>
<body>
    <h1>Add a book</h1>
    <form action="/add_book" method="Post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
        <input type="submit" name="button" value="Add" class="button">
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="/books/{{book.id}}">View</a></td>
        </tr>
        {% endfor %}
    </table>

    <h1>Add an Author</h1>
    <form action="/add_author" method="Post">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" >
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name">
        <label for="notes">Notes</label>
        <input type="text" name="notes">
        <input type="submit" name="button" value="Add" class="button">
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.first_name}} {{author.last_name}}</td>
            <td><a href="/authors/{{author.id}}">View</a></td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>